*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: var(--font-family-red-hat-display), sans-serif;
  font-size: var(--font-size-default);
  min-height: 100vh;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

:root {
  --color-primary-cyan-300: hsl(192, 90%, 77%);
  --color-primary-cyan-600: hsl(192, 37%, 48%);
  --color-primary-purple-300: hsl(268, 34%, 53%);
  --color-primary-purple-600: hsl(268, 100%, 86%);
  --color-slate-300: hsl(240, 18%, 85%);
  --color-slate-600: hsl(240, 10%, 57%);
  --color-slate-900: hsl(240, 21%, 20%);
  --color-white: hsl(0, 0%, 100%);
  --font-family-red-hat-display: "Red Hat Display";
  --font-size-default: 1.6rem;
  --font-weight-medium: 500;
  --font-weight-black: 900;
}

.btn {
  font-size: 1.6rem;
  font-weight: var(--font-weight-black);
  line-height: 1.5;
  color: var(--color-white);
  padding: 1.6rem 4rem;
  border-radius: 30rem;
  border: none;
  justify-self: center;
  transition: all 0.3s;
  cursor: pointer;
}
.btn--cyan {
  background-color: var(--color-primary-cyan-600);
}
.btn--cyan span {
  color: var(--color-primary-cyan-300);
}
.btn--cyan:hover {
  background-color: #71c0d4;
}
.btn--purple {
  background-color: var(--color-primary-purple-300);
}
.btn--purple span {
  color: var(--color-primary-purple-600);
}
.btn--purple:hover {
  background-color: #b18bdd;
}

.section-number {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  justify-content: center;
}
.cta-section .section-number {
  margin-bottom: -2.8rem;
  z-index: 10;
}
.section-number .line {
  width: 1px;
  height: 8rem;
  background-color: var(--color-slate-300);
  justify-self: center;
}
.section-number .number {
  font-size: 1.6rem;
  font-weight: var(--font-weight-black);
  line-height: 1.5;
  color: var(--color-slate-600);
  background-color: var(--color-white);
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 100%;
  border: 1px solid var(--color-slate-300);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100;
  padding: 4.8rem 8rem 0 8rem;
  display: flex;
  justify-content: center;
}

.main {
  display: grid;
  text-align: center;
  overflow: hidden;
}

.hero-section {
  padding: 6.4rem 3.2rem 3.2rem 3.2rem;
}
@media screen and (min-width: 48em) {
  .hero-section {
    padding: 6.4rem 3.2rem;
  }
}
@media screen and (min-width: 90em) {
  .hero-section {
    padding: 6.4rem 8rem;
    display: grid;
    grid-template-columns: 30.3rem 44.83rem 30.3rem;
    justify-content: center;
  }
}
.hero-section .hero-gallery {
  height: 16rem;
  margin-bottom: 4.8rem;
  display: flex;
  justify-content: center;
  gap: 1.7rem;
}
@media screen and (min-width: 48em) {
  .hero-section .hero-gallery {
    height: auto;
    gap: 3.2rem;
  }
}
@media screen and (min-width: 90em) {
  .hero-section .hero-gallery {
    display: block;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 90em) {
  .hero-section .hero-gallery .hero__img--left {
    display: flex;
    margin-bottom: 20%;
    margin-left: -50%;
    transform: scale(1.1);
  }
}
@media screen and (min-width: 90em) {
  .hero-section .hero-gallery .hero__img--right {
    display: none;
  }
}
.hero-section .hero-content {
  max-width: 44.83rem;
  display: grid;
  justify-self: center;
  gap: 2.4rem;
  text-align: center;
}
.hero-section .hero__title {
  font-size: 4rem;
  font-weight: var(--font-weight-black);
  line-height: 1.1;
  color: var(--color-slate-900);
}
@media screen and (min-width: 48em) {
  .hero-section .hero__title {
    font-size: 4.8rem;
    font-weight: var(--font-weight-black);
    line-height: 1.1;
  }
}
@media screen and (min-width: 90em) {
  .hero-section .hero__title {
    font-size: 6.4rem;
    font-weight: var(--font-weight-black);
    line-height: 1.1;
  }
}
.hero-section .hero__text {
  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  color: var(--color-slate-600);
}
@media screen and (min-width: 90em) {
  .hero-section .hero__text {
    font-size: 1.8rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.1;
  }
}
.hero-section .hero-buttons {
  display: grid;
  justify-content: center;
  gap: 1.6rem;
}
@media screen and (min-width: 48em) {
  .hero-section .hero-buttons {
    grid-template-columns: repeat(2, max-content);
    gap: 1.7rem;
  }
}
.hero-section .hero__img--right-desktop {
  display: none;
}
@media screen and (min-width: 90em) {
  .hero-section .hero__img--right-desktop {
    display: flex;
    margin-top: 20%;
    margin-left: 50%;
    transform: scale(1.1);
  }
}

.about-section {
  padding: 5.6rem 3.2rem 6.4rem;
  display: grid;
  justify-items: center;
  gap: 6.4rem;
}
@media screen and (min-width: 90em) {
  .about-section {
    padding: 5.6rem 8rem 7.2rem;
  }
}
.about-section .about-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}
@media screen and (min-width: 48em) {
  .about-section .about-gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;
  }
}
.about-section .about__img {
  height: 14.4rem;
  border-radius: 1rem;
}
@media screen and (min-width: 48em) {
  .about-section .about__img {
    height: 16rem;
  }
}
@media screen and (min-width: 90em) {
  .about-section .about__img {
    height: 25.6rem;
  }
}
.about-section .about-content {
  max-width: 50.4rem;
  display: grid;
  gap: 3.2rem;
}
@media screen and (min-width: 90em) {
  .about-section .about-content {
    max-width: 54.4rem;
  }
}
.about-section .about-box {
  display: grid;
  gap: 1.6rem;
}
.about-section .about__subheading {
  font-size: 1.2rem;
  font-weight: var(--font-weight-black);
  line-height: 1.1;
  letter-spacing: 4px;
  color: var(--color-primary-cyan-600);
}
@media screen and (min-width: 48em) {
  .about-section .about__subheading {
    font-size: 1.4rem;
    font-weight: var(--font-weight-black);
    line-height: 1.1;
    letter-spacing: 4px;
  }
}
@media screen and (min-width: 90em) {
  .about-section .about__subheading {
    font-size: 1.6rem;
    font-weight: var(--font-weight-black);
    line-height: 1.1;
    letter-spacing: 4px;
  }
}
.about-section .about__title {
  font-size: 3.2rem;
  font-weight: var(--font-weight-black);
  line-height: 1.1;
  color: var(--color-slate-900);
}
@media screen and (min-width: 48em) {
  .about-section .about__title {
    font-size: 3.6rem;
    font-weight: var(--font-weight-black);
    line-height: 1.1;
  }
}
@media screen and (min-width: 90em) {
  .about-section .about__title {
    font-size: 4rem;
    font-weight: var(--font-weight-black);
    line-height: 1.1;
  }
}
.about-section .about__text {
  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  color: var(--color-slate-600);
}
@media screen and (min-width: 90em) {
  .about-section .about__text {
    font-size: 1.8rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.1;
  }
}

.cta-section {
  display: grid;
  gap: -2.8rem;
}
.cta-section .cta-container {
  background-image: linear-gradient(to right, rgba(77.112, 149.5728, 167.688, 0.85), rgba(77.112, 149.5728, 167.688, 0.85)), url("../assets/mobile/image-footer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6.4rem 3.2rem;
}
@media screen and (min-width: 48em) {
  .cta-section .cta-container {
    background-image: linear-gradient(to right, rgba(77.112, 149.5728, 167.688, 0.85), rgba(77.112, 149.5728, 167.688, 0.85)), url("../assets/tablet/image-footer.jpg");
  }
}
@media screen and (min-width: 90em) {
  .cta-section .cta-container {
    background-image: linear-gradient(to right, rgba(77.112, 149.5728, 167.688, 0.85), rgba(77.112, 149.5728, 167.688, 0.85)), url("../assets/desktop/image-footer.jpg");
    padding: 11.2rem 8rem;
  }
}
.cta-section .cta-content {
  max-width: 50.4rem;
  display: grid;
  justify-self: center;
  align-items: center;
  gap: 2.4rem;
}
@media screen and (min-width: 90em) {
  .cta-section .cta-content {
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 6.4rem;
  }
}
.cta-section .cta__title {
  font-size: 3.2rem;
  font-weight: var(--font-weight-black);
  line-height: 1.1;
  color: var(--color-white);
}
@media screen and (min-width: 48em) {
  .cta-section .cta__title {
    font-size: 3.6rem;
    font-weight: var(--font-weight-black);
    line-height: 1.1;
  }
}
@media screen and (min-width: 90em) {
  .cta-section .cta__title {
    font-size: 4rem;
    font-weight: var(--font-weight-black);
    line-height: 1.1;
  }
}
.cta-section .cta__text {
  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  color: var(--color-white);
}
@media screen and (min-width: 90em) {
  .cta-section .cta__text {
    font-size: 1.8rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.1;
  }
}

/*# sourceMappingURL=style.comp.css.map */
