:root {
  // COLORS
  --color-primary-cyan-300: hsl(192, 90%, 77%);
  --color-primary-cyan-600: hsl(192, 37%, 48%);
  --color-primary-purple-300: hsl(268, 34%, 53%);
  --color-primary-purple-600: hsl(268, 100%, 86%);

  --color-slate-300: hsl(240, 18%, 85%);
  --color-slate-600: hsl(240, 10%, 57%);
  --color-slate-900: hsl(240, 21%, 20%);
  --color-white: hsl(0, 0%, 100%);

  // TYPOGRAPHY
  --font-family-red-hat-display: "Red Hat Display";

  --font-size-default: 1.6rem;

  --font-weight-medium: 500;
  --font-weight-black: 900;
}
